<div #myModal class="container">
  <div class="content">
    <p>Would you like to change {{name}}'s role to {{changedRole}}?</p>
    <table>
      <tr>
        <td>
          <button (click)="updateRole()">Yes</button>
        </td>
        <td>
        </td>
        <td>
          <button (click)="close()">No</button>
        </td>
      </tr>
      <tr>
        <td>
          <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">
            {{errorMessage}}
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>
